html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}



@font-face {
    font-family: apercu;
    src: url(fonts/Apercu/Apercu-Regular.otf);
}

@font-face {
    font-family: apercu-medium;
    src: url(fonts/Apercu/Apercu-Medium.otf);
}

@font-face {
    font-family: gill-sans-regular;
    src: url(fonts/Gill-sans/Gil-Sans-Regular.TTF);
}

li{
    list-style: none;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-2{
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}

.heading{
    padding-top: 50px;
    padding-bottom: 20px;
}

.heading h1{
    text-align: center;
    color: grey ;
    font-family: apercu;
    letter-spacing: 3.5px;
    font-size: 28px;
    padding-top: 25px;
}

.heading h2{
    font-family: apercu;
    color: grey;
    letter-spacing: 3.5px;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.heading h3{
}

.heading p{
    padding-top: 15px;
    font-family: gill-sans-regular;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
}

/* bagian heading di main*/
.top-heading{
    height: 80px;
}
.heading-list a{
    float: left;
    padding: 20px 20px;
    color: gray;
    font-size: 12px;
}

/* bagian category image */
.category-image{
    padding-top: 50px;
    height: 180px;
}

.category-imgs{
    float: left;
    padding-right: -15px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.category-imgs p{
    position: absolute;
    z-index: 2;
    width: 250px;
    background-color: white;
    color: black;
    line-height: 1.5;
    font-family: Apercu;
    font-weight: 600;
    text-align: center;
    padding: 12px;
    margin-left: 23px;
    margin-top: -70px;
    font-size: 14px;
}


/* bagian mid banner */
.mid-banner{
    padding-top: 20px;
    height: 780px;
    padding-right: 95px;
}
.banner-img{
    text-align: center;
}

.banner-img img{
    width: 1050px;
}

/* bagian new this week */
.new-week{
    height: 570px;
}

.week-content{
    float: left;
    width: 30%;
    text-align: center;
    padding-top: 10px;
}

.week-content h3{
    padding-top: 20px;
}

.week-content h3{
    color: gray;
    text-align: center;
    font-family: apercu;
    letter-spacing: 3px;
    font-size: 14px;
}

.text-context{
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    font-size: 12px;
    color: #b3aeb5;
    text-align: center;
    font-family: apercu;
    letter-spacing: 2px;
    line-height: 1.6;
  }

/* bagian main text menuju footer */
.content-txt{
    text-align: center;
    color: grey;
}

.content{
    color: gray;
    width: 2000px;
    height: 350px;
}

.content-brand{
    float: left;
}

.content-brand h3{
    font-family: apercu;
    font-size: 16px;
    color: grey;
}

.content-brand-list{
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.content-search{
    float: left;
    padding-left: 400px;
}

.content-search-list{
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.sponsor-icon{
    font-family: apercu;
    float: left;
    padding-left: 20px;
    margin-left: 80px;
    padding-top: 20px;
}

footer{
    background-color:red;
    color: white;
    height: 100px;
    padding: 100px;
}

.footer-content-txt{
    float: left;
    width: 25%;
    padding-right:50px ;
}

