html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: apercu;
    src: url(fonts/Apercu/Apercu-Regular.otf);
}

li{
    list-style: none;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.heading{
    padding-top: 50px;
    padding-bottom: 20px;
}

.heading h1{
    text-align: center;
    color: grey ;
    font-family: apercu;
    letter-spacing: 3.5px;
    font-size: 28px;
}

/* bagian heading di main*/
.top-heading{
    height: 80px;
}
.heading-list a{
    float: left;
    padding: 20px 20px;
    color: gray;
    font-size: 12px;
}

/* bagian category image */
.category-image{
    padding-top: 50px;
    height: 180px;
}

.category-imgs{
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.category-imgs p{
    position: absolute;
    top: 0;
}


/* bagian mid banner */
.mid-banner{
    padding-top: 20px;
    height: 800px;
}
.banner-img{
    text-align: center;
}

/* bagian new this week */
.new-week{
    height: 570px;
}

.week-content{
    float: left;
    width: 30%;
    text-align: center;
}

.week-content h3{
    padding-top: 10px;
}

.week-content h3{
    color: gray;
    text-align: center;
    font-family: apercu;
    letter-spacing: 3px;
    font-size: 14px;
}

.text-context{
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 12px;
    color: #b3aeb5;
    text-align: center;
    font-family: apercu;
    letter-spacing: 2px;
    line-height: 1.6;
  }

/* bagian main text menuju footer */
.content-txt{
    text-align: center;
    color: grey;
}

.content{
    color: gray;
}

.content-brand{
    float: left;
}

.content-brand-list{
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.content-search{
    float: right;
}

.content-search-list{
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.sponsor{
    color: hotpink;
    float: left;
    padding-right: 40px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

footer{
    background-color:white;
    color:black;
    height: 100px;
    padding: 100px;
}

.footer-content-txt{
    float: left;
    width: 25%;
    padding-right:50px ;
}

