html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

li{
    list-style: none;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.heading{
    padding-top: 50px;
    padding-bottom: 20px;
}

.heading h1{
    text-align: center;
}

/* bagian heading di main*/
.heading-list a{
    float: left;
    padding: 20px 20px;
    color: gray;
    font-size: 12px;
}

/* bagian category image */
.category-image{
    padding-top: 50px;
}

.category-imgs{
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.category-imgs p{
    position: absolute;
    top: 0;
}


/* bagian mid banner */
.mid-banner{
    padding-top: 20px;
}
.banner-img{
    text-align: center;
}

/* bagian new this week */
.week-content{
    float: left;
}

.text-context{
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }

.footer-txt{
    text-align: center;
}

.footer-brand-top{
    float: left;
}

.footer-search-top{
    float: right;
}
.sponsored{
    float: left;
}
